.vmc-dropload {
    height: 100%;
    box-sizing: border-box;
    overflow-y: scroll
}

.vmc-dropload .dropload-mask {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0
}

.vmc-dropload .dropload-down, .vmc-dropload .dropload-up {
    position: relative;
    height: 0;
    overflow: hidden;
    font-size: 0.24rem;
    transform: translateZ(0)
}

.vmc-dropload .dropload-down {
    height: 1rem
}

.vmc-dropload .dropload-load, .vmc-dropload .dropload-noData, .vmc-dropload .dropload-refresh, .vmc-dropload .dropload-update {
    height: 1rem;
    line-height: 1rem;
    text-align: center
}

.vmc-dropload .dropload-load .loading {
    display: inline-block;
    height: 0.3rem;
    width: 0.3rem;
    border-radius: 100%;
    margin: 0.12rem;
    border: 2px solid #666;
    border-bottom-color: transparent;
    vertical-align: middle;
    -webkit-animation: a .75s linear infinite;
    animation: a .75s linear infinite
}

@-webkit-keyframes a {
    0% {
        -webkit-transform: rotate(0deg)
    }
    50% {
        -webkit-transform: rotate(180deg)
    }
    to {
        -webkit-transform: rotate(1turn)
    }
}

@keyframes a {
    0% {
        transform: rotate(0deg)
    }
    50% {
        transform: rotate(180deg)
    }
    to {
        transform: rotate(1turn)
    }
}

.vmc-dropload .animate-disappear {
    transition: all .3s linear
}