.image-list {
    display: flex;
    .image {
        width: 1.28rem;
        height: 1.28rem;
        position: relative;
        margin-right: 0.3rem;
        img {
            width: 100%;
            height: 100%;
        }
        .vmc-badge {
            position: absolute;
            right: -0.16rem;
            top: -0.16rem;
        }
    }
}

.vmc-upload {
    height: 1.2rem;
    width: 1.2rem;
    border: 2px dashed #ccc;
    border-radius: 5px;
    position: relative;
    .fileInput {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        width: 100%;
        height: 100%;
    }
    .vmc-upload-button {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        i {
            color: #cccccc;
            display: block;
            transform: scale(1.875px);
        }
    }
}
.vmc-badge {
    display: inline-block;
    text-align: center;
    background: #f74c31;
    color: #fff;
    font-size: 0.24rem;
    height: 0.32rem;
    line-height: 0.32rem;
    min-width: 0.32rem;
    border-radius: 8px;
    padding: 0 0.08rem;
    box-sizing: border-box
}